@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Oswald:wght@700&family=Poppins:wght@400;500;700&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

:root {
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;

  --text-color: var(--black);

  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);

  /* Light mode */

  --page-bg: var(--white);
  --text-color: var(--black);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --project-border: unset;
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  /* sozdaem peremennije, ssilaemsja v dark-bg na peremennuju black */
}

.dark {
  /* Dark mode */
  --page-bg: var(--black);
  --text-color: var(--white);

  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --project-border: 1px solid white;
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

html,
body {
  min-height: 100vh;

  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.5px;

  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
  /* tot html element kotorij imeet etot klass budet skrit */
}

.title-2 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
}

/* Dark mode button */

.dark-mode-btn {
  order: 9;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;

  border-radius: 50px;
  background-color: #272727;
}

.dark-mode-btn::before {
  content: '';

  position: absolute;
  top: 1px;
  left: 1px;

  display: block;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: var(--white);

  transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
  left: 26px;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}

/* Btn */

.btn {
  display: inline-block;
  height: 48px;
  background-color: var(--accent);
  padding: 12px 28px;
  color: var(--white);
  border-radius: 5px;
  letter-spacing: 0.15px;
  font-style: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* Btn outline */

.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;

  padding: 12px 20px;
  height: 48px;
  border-radius: 5px;

  border: 1px solid var(--blackpure);
  color: var(--blackpure);
  background-color: var(--white);

  transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
  opacity: 0.6;
}

.btn-outline:active {
  position: relative;
  top: 1px;
}

/* General */
.section {
  padding: 70px 0;
}

.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

/* Project Details */

.project-details {
  margin: 0 auto;
  max-width: 865px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.project-details__desc {
  margin-bottom: 30px;
  font-weight: 700;
  font-style: 24px;
  line-height: 1.3;
}

/* Content list */

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}

.content-list a {
  color: var(--accent);
}

.content-list__item {
  font-size: 18px;
  line-height: 1.5;
}

.content-list__item p + p {
  margin-top: 0.5em;
}

/* umenshenije razmera v zavisimosti ot wirini ekrana v px */

@media (max-width: 620px) {
  .header {
    min-height: unset;
  }

  .header__title {
    font-size: 30px;
  }

  .header__title strong {
    font-size: 40px;
  }

  .nav-row {
    justify-content: space-between;
  }

  .dark-mode-btn {
    order: 0;
  }

  .section {
    padding: 40px 0;
  }

  .title-1 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .title-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    color: var(--text-color);
  }

  .project-details__desc {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .footer {
    padding: 40px 0 30px;
  }

  .footer__wrapper {
    row-gap: 20px;
  }

  .social {
    column-gap: 20px;
  }

  .social__item {
    width: 20px;
  }

  .content-list {
    row-gap: 20px;
  }

  .content-list__item {
    font-size: 16px;
  }
}
